@model GuildCars.Models.Queries.VehicleItem
@{
    ViewBag.Title = "Details";
}

<div class="row">
    <h2 class="page-header">Vehicle Details</h2>
</div>

<div class="container vehicle-wide-card shadow">
    <div class="row">
        <h3>@Model.Year @Model.MakeName @Model.ModelName</h3>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <img class="img-thumbnail float-start" src="~/Images/@Model.ImageFileName" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-9">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <p><strong>Body Style: </strong>@Model.BodyStyleType</p>
                    <p><strong>Trans: </strong>@Model.TransmissionType</p>
                    <p><strong>Color: </strong>@Model.ColorName</p>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <p><strong>Interior: </strong>@Model.InteriorType</p>
                    <p>
                        <strong>Mileage: </strong>
                        @if (Model.Mileage < 1000)
                        {
                            <text>New</text>
                        }
                        else
                        {
                            @Model.Mileage.ToString("N0")
                        }
                    </p>
                    <p><strong>VIN #: </strong>@Model.Vin</p>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <p><strong>Sale Price: </strong>@Model.SalePrice.ToString("C")</p>
                    <p><strong>MSRP: </strong>@Model.Msrp.ToString("C")</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-2 offset-lg-2">
                    <p><strong>Description: </strong></p>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-8">
                    <p>@Model.Description</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-3 offset-md-9">
            @if (Model.IsSold)
            {
                <button class="btn btn-danger disabled">Unavailable- Sold</button>
            }
            else
            {
                @Html.ActionLink("Contact Us", "Contact", "Home", new { vin = Model.Vin }, htmlAttributes: new { @class = "btn btn-primary" })
            }
        </div>
    </div>
</div>

